@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.praise{
    font-family: "Praise", cursive;
    font-weight: 500;
    font-style: normal;
  }

  .custom-placeholder::placeholder {
    background: linear-gradient(92.21deg, #ECA66A 0.7%, #F1C042 38.75%, #EBA361 64.99%, #F7DE43 99.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .announcement-text {
    display: inline-block;
    padding-left: 100%;
    animation: scroll-marquee 20s linear infinite;
  }

  @keyframes scroll-marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

  
  @layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}

/*// Glow Border Animation //*/

.animated-border-box{
  position: absolute;
  overflow: hidden; 
  z-index: 2;
  border-radius: 3vw;
}

@media (orientation: portrait) {
  .animated-border-box {
    border-radius: 3vh; /* Use vh for portrait orientation */
  }
}


.animated-border-box-glow{
  overflow: hidden;
  /* Glow Blur */
  filter: blur(20px);
}

.animated-border-box:before, .animated-border-box-glow:before {
  content: '';
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  position: absolute;
  width: 99999px;
  height: 99999px;
  background-repeat: no-repeat;
  background-position: 0 0;
  /* Neon glow colors */
  background-image: conic-gradient(
    rgba(0, 0, 0, 0),
    #7c03b4, /* Green */
    #c20569, /* Pink */
    rgba(0, 0, 0, 0) 25%
  );
  /* Adjust speed for a smoother glow */
  animation: rotate 4s linear infinite;
  filter: blur(30px); /* Enhance the glow effect */
}

.animated-border-box:after {
	content: '';
	position: absolute;
	z-index: -1;
  /* border width */
	left: 5px;
	top: 5px;
  /* double the px from the border width left */
	width: calc(100% - 10px);
	height: calc(100% - 10px);
  /*bg color*/
  /*box border radius*/
	border-radius: 7px;
}

@keyframes rotate {
	100% {
		transform: translate(-50%, -50%) rotate(1turn);
	}
}

/*// Border Animation END//*/



/*// Ignore This //*/
body {
  margin: 0px;
}


a {
  color: white;
}

