@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.praise{
    font-family: "Praise", cursive;
    font-weight: 500;
    font-style: normal;
  }

  .custom-placeholder::placeholder {
    background: linear-gradient(92.21deg, #ECA66A 0.7%, #F1C042 38.75%, #EBA361 64.99%, #F7DE43 99.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .announcement-text {
    display: inline-block;
    padding-left: 100%;
    animation: scroll-marquee 20s linear infinite;
  }

  